.content{
	width: 1360px;
	margin: 22px auto;
	/*border: 1px dashed red;*/
}
.content p{
	color: #9b9b9b;
	font-size: 14px;
	line-height: 22px;
}
.contenta,.contentb,.contentc,.contentd{
	height: 265px;
}
.contenta{
	background: #f9f9f9;
	margin-bottom: 95px;
}
.contenta-R{
	width: 875px;
	height: inherit;
}
.contenta-R h3{
	margin-top: 22px;
}
.contenta-R i{
	margin-top: 8px;
}
.contenta-R p{
	width: 741px;
	color: #9b9b9b;
	font-size: 14px;
	line-height: 22px;
	margin-left: 32px;
}
.contenta-R p:nth-child(4){
	margin-top: 16px;
}
.contenta-R s{
	margin-top: 10px;
	margin-left: 786px;
}
.contentb{
	margin-bottom: 87px;
}
.contentb-L i{
	margin-top: 36px;
	margin-left: 74px;
}
.contentb-L p{
	width: 710px;
	margin-left: 92px;
}
.contentb-L p:nth-child(4){
	margin-top: 16px;
}
.contentb-L s{
	margin-top: 12px;
	margin-left: 790px;
}
.contentb-R{
	margin-right: 70px;
}
.contentc{
	background: #f5f5f5;
	margin-bottom: 82px;
}
.contentd{
	margin-bottom: 50px;
}